*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Righteous', cursive;
    background-color: #ff9ff3;

}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 50px;
}
.main{
    width: 700px;
    height: 500px;
    background-color: #ffff;
    display: grid;
    grid-template-columns: 40% auto;
    /* position: relative; */


}
.borderLine{
    border-bottom:3px solid green;
    width: 20%;
    margin-left: 120px;
}
.show{
    display: block;
}
h3{
    /* background-color: tomato; */
    font-size: 15px;
    /* border: 2px solid red; */
    color: white;
    display:none;
    text-align: center;
    /* padding-top: 20px; */

    
    /* margin: 10px; */
    /* padding: 5px; */
}
h2,h1{
    text-align: center;
    color: white;
    letter-spacing: 1px;
    padding-top: 20px;
}

.banner{
    /* background-color: blue; */
    /* background-image: url("./images/bg-heading-03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px; */
}
.login{
    background-color: black;
    /* width: 90%; */
    /* position: absolute; */
    
    /* display: flex; */

}
.login .login-body{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
input{
    background: none;
    text-align: center;
    color: white;
    outline:none;
    border: none;
    background-color: black;
    border-bottom: 3px solid green;
    font-size: 20px;
    padding: 5px 20px;
}
input:focus{
    /* border: none; */
    /* background: none; */
    outline: none;
}
button{
    margin: 0 10px;
}
.login-btn{
    padding:10px 30px;
    border-radius:50px ;
    border: none;
    outline: none;
    background-color: #10ac84;
    color: white;
    font-family: 'Righteous', cursive;
    cursor: pointer;
    transition: 0.7s all;

}
.sign-btn{
    padding:10px 25px;
    border-radius:50px ;
    border: none;
    outline: none;
    background-color: #10ac84;
    color: white;
    font-family: 'Righteous', cursive;
    cursor: pointer;
    transition: 0.7s all;
}
.login-btn:hover{
    background-color: #7bed9f;
    transform: translateY(-4px);
}
.sign-btn:hover{
    background-color: #7bed9f;
    transform: translateY(-4px);

}


@media only screen and (max-width: 676px){
    .main{
      display: block;
      width: 500px;
      height: 500px;
    }
    .login{
        /* margin-top: 150px; */
        /* width: 40%; */
        height: 350px;
    }
    .banner{
       /* background-image: url("./images/bg-heading-03.jpg");
       background-repeat: no-repeat;
       background-size: cover; */
       width: 500px;
       height: 200px;

    }
    .banner img{
        width: 500px;
        height: 200px;
    }
         
}
@media only screen and (max-width: 507px){
    .main{
      display: block;
      width: 400px;
      height: 500px;
    }
    .login{
        /* margin-top: 150px; */
        /* width: 40%;  */
     height: 350px;
    }
    .banner{
       /* background-image: url("./images/bg-heading-03.jpg");
       background-repeat: no-repeat;
       background-size: cover; */
        width: 400px;
       height: 200px; 

    }
    .banner img{
        width: 400px;
        height: 200px;
    } 
    .borderLine{
        border-bottom: 3px solid green;
        width: 20%;
        margin-left: 115px;
    }
        
}
@media only screen and (max-width: 408px){
    .main{
      display: block;
      width: 320px;
      height: 500px;
    }
    .login{
        /* margin-top: 150px; */
        /* width: 40%;  */
     height: 350px;
    }
    .banner{
       /* background-image: url("./images/bg-heading-03.jpg");
       background-repeat: no-repeat;
       background-size: cover; */
        width: 320px;
       height: 200px; 

    }
    .banner img{
        width: 320px;
        height: 200px;
    } 
    #email{
        width: 250px;
        margin-left: 25px;
    }
    #password{
        width: 250px;
        margin-left: 25px;
    }
    .login-btn{
        margin-left: 25px;
    }
    .borderLine{
        border-bottom: 3px solid green;
        width: 20%;
        margin-left: 80px;
    }
    
}
